@import "../../global.scss";


.intro {
  // background-color: rgb(245, 214, 198);
  // this makes sure the items within the container are horizontal
  background-image: url("https://images.unsplash.com/photo-1502790671504-542ad42d5189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxNTE5NjQ4fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-size: cover;
  display: flex;
  color: rgb(240, 235, 235);

  .left {
    flex: 0.5;
    overflow: hidden;

    .imgContainer {
      width: 800px;
      height: 800px;
      border-radius: 70%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: left;

      img {
        width: 100%;
      }
    }
  }

  .right {
    flex: 0.5;
    overflow: hidden;
    position: relative;

    .wrapper {
      font-weight: 700;
      width: 100%;
      height: 100%;
      padding-left: 40px;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-weight: 500;
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h4{
        font-size: 25px;
      }
      h3 {
        font-size: 35px;

        span{
          font-size: inherit;
          color: rgb(199, 170, 132);
          font-weight: 510;
        }
        .ityped-cursor{
          animation: blink 2s infinite;
        }

        @keyframes blink {
          50%{
            opacity: 1;
          }
          100%{
            opacity: 0;
          }
        }
      }
    }
    // a{
    //   position: absolute;
    //   bottom: 10px;
    //   margin-right: 40px;

    //   .arrowDownward{
    //     width: 60px;
    //     height: 60px;
    //     color: rgb(71,88,96);
    //     animation: arrowBlink 2s infinite;
    //   }

    //   @keyframes arrowBlink {
    //     100%{
    //       opacity:  0;
    //     }
    //   }
    // }
  }
}
