

.app{
  height: 100vh;

  .sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: tan;
    position: relative;
    top: 70px;
    scroll-behavior: auto;
    // scroll-snap-type: y mandatory;
    scrollbar-width: none;  //this is for firefox only
    &::-webkit-scrollbar{
        display: none; // and this is for chrome, IE, Mozilla, Safari and all other browser platforms
    }

    // > * means for each element within .section
    > *{
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }

}
